body{
  background-color: rgb(199, 168, 111);
}

.App {
  /* background-color: rgb(8, 9, 15); */
  background-color: thistle;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  align-items: center;
}

#new-task-form input{
  background-color: maroon;
  border:0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
}

#new-task-form input::placeholder{
  color: darkgrey;
}

#new-task-form input:focus{
  outline: none;
}

#new-task-form button{
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color:goldenrod;
  cursor: pointer;
  font-weight: bolder;
  color: blue;
}

#new-task-form button:focus{
  outline: none;
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  line-height: 3;
  flex-direction: column;
  align-items: center;
  justify-content: top; */
  /* padding-top: 50px; */
  /* font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}


.App-new{
  color:white;
}